<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>
	学生信息管理平台
</title>
	<link href="../../Style/StudentStyle.css" rel="stylesheet" type="text/css" th:href="@{/css/StudentStyle.css}"/>
	<link href="../../Script/jBox/Skins/Blue/jbox.css" rel="stylesheet" type="text/css" th:href="@{/js/jBox/Skins/Blue/jbox.css}"/>
	<link href="../../Style/ks.css" rel="stylesheet" type="text/css" th:href="@{/css/ks.css}"/>
	<link href="../../css/mine.css" type="text/css" rel="stylesheet" th:href="@{/css/mine.css}">
    <script src="../../Script/jBox/jquery-1.4.2.min.js" type="text/javascript" th:src="@{/js/jBox/jquery-1.4.2.min.js}"></script>
    <script src="../../Script/jBox/jquery.jBox-2.3.min.js" type="text/javascript" th:src="@{/js/jBox/jquery.jBox-2.3.min.js}"></script>
    <script src="../../Script/jBox/i18n/jquery.jBox-zh-CN.js" type="text/javascript" th:src="@{/js/jBox/i18n/jquery.jBox-zh-CN.js}"></script>
    <script src="../../Script/Common.js" type="text/javascript" th:src="@{/js/Common.js}"></script>
    <script src="../../Script/Data.js" type="text/javascript" th:src="@{/js/Data.js}"></script>
     <script type="text/javascript" th:inline="javascript">
       
	
	/*全选不全选 */
  	function allbox(){
	  var flag=document.getElementById("allboxs").checked;
      var cks=document.getElementsByName("onebox");
      for(var i=0;i<cks.length;i++){
          cks[i].checked=flag;
      }
	}
  	
  	
  	
	function delall(){
		alert("是否删除?");
		alert([[${#httpServletRequest.getContextPath()}]]);
	}
  	
   </script>

</head>
<body>


<div class="div_head" style="width: 100%;text-align:center;">
		<span> <span style="float:left">当前位置是：权限管理-》人员管理</span> <span
			style="float:right;margin-right: 8px;font-weight: bold">
            <a style="text-decoration: none;" href="javascript:alert('操作成功！');">【导出excel】</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration: none;" href="javascript:alert('操作成功！');">【批量删除】</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration: none;" href="add.html">【新增人员】</a>&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
		</span>
	</div>

<div class="morebt">
 
</div>
 <div class="cztable" style="width: 100%;">
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr style="height: 25px;" align="center">
                    
                    <th  width="8%">
						<input type="checkbox"/>
					</th>
					<th scope="col" width="15%">
                        序号
                    </th>
                    <th scope="col" width="15%">
                        账号
                    </th>
                    <th scope="col" width="15%">
                        姓名
                    </th>
                    <th scope="col" width="15%">
                        角色
                    </th>
                   
                    <th scope="col" >
                        操作
                    </th>
                </tr>
                
               
                
                <tr align="center" th:each="user:${pager.records}">
					<th><input type="checkbox"/></th>
                    <td th:text="${userStat.index+1}">1</td>
                    <td th:text="${user.userName}">zhangsan</td>
                    <td th:text="${user.userRealname}"><a href="info.html">张三</a></td>
                    <td th:text="${user.role.rolename}">&nbsp;管理员</td>
                    <td>&nbsp;
                        <a href="edit.html">修改</a>						   
						<a href="javascript:void(0)" onclick="del();return false" class="tablelink"> 删除</a>
                    </td>
                </tr>
                
                 
                
                
               
				
                
             
            </tbody>
        </table>
        
          <div class='MainStyle'>
          <div class=''><a href='' target='_self' th:href="@{/usertb/userlist/(index=1,size=${pager.pageSize})}">首页</a></div>
          
          <div class=''  th:if="${pager.pageIndex>1}">
          <a href='javascript:void(0)' target='_self' th:href="@{/usertb/userlist/(index=${pager.pageIndex-1},size=${pager.pageSize})}">上一页</a></div>
          
          <div th:each="num:${pager.numbers}">
          <a href='' target='_self' style="color: red;" 
          th:if="${num==pager.pageIndex}" th:text="${num}">1</a>
          <a href='' target='_self'  th:if="${num!=pager.pageIndex}" th:text="${num}"
          th:href="@{/usertb/userlist/(index=${num},size=${pager.pageSize})}">1</a>
          </div>
          
          
          
          <div class='' th:if="${pager.pageIndex<pager.pageCount}">
          <a href='' target='_self' th:href="@{/usertb/userlist/(index=${pager.pageIndex+1},size=${pager.pageSize})}">下一页</a>
          </div>
          
          <div class=''>
          <a href='' target='_self' th:href="@{/usertb/userlist/(index=${pager.pageCount},size=${pager.pageSize})}">尾页</a>
          </div>
          
          <div class=''><b th:text="${pager.totalCount}">44</b>条数据</div>
          <div class=''>共<b th:text="${pager.pageCount}">20</b>页</div>
          
          <div class='SearchStyle'>
          <input type='text' id='john_Page_Search' onkeydown="if(event.keyCode == 13){page_searchIndex();}"/></div>
          <div class=''><input type='button' value='Go' onclick="page_searchIndex()"/></div>
          <div>
          		每页<select id="pageNumber" th:onchange="|chagePageSize(${pager.pageIndex});|">
			   <option value="5" th:selected="${pager.pageSize eq 5}">5</option>
			   <option value="10" th:selected="${pager.pageSize eq 10}">10</option>
			   <option value="15" th:selected="${pager.pageSize eq 15}">15</option>
			   <option value="20" th:selected="${pager.pageSize eq 20}">20</option>
			   <option value="30" th:selected="${pager.pageSize eq 30}">30</option>
			   <option value="40" th:selected="${pager.pageSize eq 40}">40</option>
			   <option value="50" th:selected="${pager.pageSize eq 50}">50</option>
			   <option value="70" th:selected="${pager.pageSize eq 70}">70</option>
              </select>
                                  条
             
          
          </div>
          
          
          </div>
          
          <script th:inline="javascript">    
          function page_searchIndex(){     
        	  var size = $("#pageNumber").val();
        	  var searchText = document.getElementById('john_Page_Search');        
        	  var searchIndex = searchText != null && searchText.value != '' ? parseInt(searchText.value) : 0;        
        	  if(searchIndex > 0 && searchIndex <= 3) { 
        		  alert(searchIndex+":"+size+":"+[[${pager.pageSize}]]);
        		  window.location=[[${#httpServletRequest.getContextPath()}]]+"/usertb/userlist?index="+searchIndex+"&size="+size;  
        		  
        		  }else{            
        			  alert('需要跳转的页码不能超出范围！');        
        		}    
        	  }
        //动态修改页面大小
      	function chagePageSize(pageIndex){
      		var pageSize=$("#pageNumber").val();// 新的页面大小
      		window.location=[[${#httpServletRequest.getContextPath()}]]+"/usertb/userlist?index="+[[${pager.pageIndex}]]+"&size="+pageSize;
      	}
          </script>
        </div>
    </div>

        
        
      
    </div>
</body>
</html>